body {
  background-image: url(../public/50176.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}


.container {
  background:hsl(200, 40%, 65%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #070407;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #e0b4ed;
}

audio {
  margin-top: 10px;
  width: 100%;
}
